body{
	background-image: url(triangulo.png);
}
<h1{
	text-align: center;
	font-size: 60px;
	color: black;
}
form{
	margin: 20px auto;
	width: 320px;
	color: black;
}
input{
	padding: 10px,
	font-size: inherit;
}
input[type="text"]{
	display: block;
	margin-bottom: 30px;
	width: 100%;
	border: 2 solid black
}
input[type="password"]{
	display: block;
	margin-bottom: 30px;
	width: 100%;
	border: 2 solid black
}
input[type="email"]{
	display: block;
	margin-bottom: 30px;
	width: 100%;
	border: 2 solid black
}
input[type="radio"]{
	margin: 8px 25px 18px
}
input[type="radio"]:first{

}
table, tr, th, td{
    margin: 0 auto;
    border: solid 1px;
    border-collapse: collapse;
    object-position: center;